
<p class="lead">Je suis un fichier inclus dans la page</p>

{# name est une variable de twig/index.html.twig #}
{# <p>Eh! Salut {{ name }}</p> #}

{# vars est l'objet contenant les paramètres transmis avec le with #}
{# <p>Eh! Salut {{ vars.name }}, tu as {{ vars.number }} ans</p> #}

{#
    name et number sont les attributs de l'objet vars transmis avec le with
    et only (only ferme le context)
#}
{# Défini une valeur par défaut pour name (optionnel) #}
{% set name = name|default('Visiteur') %}
<p>Eh! Salut {{ name }}, tu as {{ number }} ans</p>

